on property:sys.boot_completed=1
    start set_home_activity

service set_home_activity /system/bin/sh -c "cmd package set-home-activity de.mm20.launcher2.release/de.mm20.launcher2.ui.launcher.LauncherActivity"
    user root
    group root
    oneshot